@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif; 
}

body{
background-image: linear-gradient( to right,#A3BFBA,#A66F5B);
}
main{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #90A19D;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #363432;
    text-align: center;
    text-shadow: 1px 1px 2px #90A19D;
}
h2{
    color: #363432;
    background-color: #F0941F;
}
p{
    text-align: justify;
}