@charset "UTF-8";

body{
    background-color: rgb(48, 111, 167);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(46, 8, 87);
}
h1#principal{
    text-align: center;
    color: black;
}
h2{
    color: rgb(17, 39, 151);
}
.destaque{
    background-color: red;
}